<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mj-scorebuddy</title>
    <meta name="description" content="A mahjong score keeping application">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1><a href="/">mj-scorebuddy</a></h1>
    </header>
    
    <main>
      <form class="section-bg new-game-form">
        <div class="form-section clearfix">
          <label>player 1:</label>
          <input name="player1" type="text" aria-labelledby="player1-name">
        </div>
        <div class="form-section clearfix">
          <label>player 2:</label>
          <input name="player2" type="text" aria-labelledby="player2-name">
        </div>
        <div class="form-section clearfix">
          <label>player 3:</label>
          <input name="player3" type="text" aria-labelledby="player3-name">
        </div>
        <div class="form-section clearfix">
          <label>player 4:</label>
          <input name="player4" type="text" aria-labelledby="player4-name">
        </div>
        
        <button type="submit" class="button-green" id="start-game">start game</button>
      </form>
      
      <div class="clearfix"></div>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and to make it easier for folks to view source and remix -->
    <!--
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="/new-game.js" defer></script>
  </body>
</html>
